<!doctype html>
<html>
  <head>
    <title>NoPaste</title>
  </head>

  <body>
    <form action="/post" method="POST">
      <table>
        <tr>
          <td><input type="text" name="title" value="" placeholder="title"></td>
        </tr>
        <tr>
          <td><textarea cols="60" rows="20" name="body" placeholder="body"></textarea></td>
        </tr>
        <br>
        <tr>
          <td><input type="submit" value="post" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
